__pycache__/
*.pyc
*.pyo
*.DS_Store

out_rf/*.csv
out_rf/*.png

# Reportes Word sí se ignoran
ufc_rf_report/*.docx

# ⚠️ Quitamos el filtro de PDF aquí para que el reporte final se suba
# ufc_rf_report/*.pdf

outputs/

# IDE / Jupyter metadata
.ipynb_checkpoints/
.vscode/
.idea/
